.contactForm-div-wrapper{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 1.5rem;
    .contactForm-div-form{
        flex-direction: column;
       /*  justify-content: center; */
        align-items: center;
        display: flex;
        margin: 1.5rem;
        gap: 3rem;

        input, textarea{
            padding: 0.25rem;
            margin-left: 1rem;
        }
    }
}

.contactForm-div-textarea{
    display: flex;
    align-items: center;
}

.contactForm-div-bottom{
    display: flex;
    /* flex-grow: 1; */
    background-color: $primary;
    /* bottom: 0px; */
    /* height: 20%; */
    text-align: center;
   justify-content: space-evenly;
   padding: 3em;
   width: 100vw;

   span {
       font-size: x-large;
   }
   padding-left: 15%;
   padding-right: 15%;
}
