.invalid-form-message{
    color: red;
    background-color:$cool-grey;
    padding: 0.5rem;
    border-radius: 50px;
    margin-bottom: 1rem;
    text-align: center;
    transition: all, 0.5s;
}

.reminder-form-message{
    background-color:$cool-grey;
    padding: 0.5rem;
    border-radius: 50px;
    margin-bottom: 1rem;
    text-align: center;
    transition: all, 0.5s;

}

.reminder-form-message:hover,.invalid-form-message:hover{
    background-color: $primary;
}