.home-div-main{
  display: flex;
  padding-left: 1%;
  padding-right: 3%;
  background-image: url('../../../public/assets/carli-jeen-15YDf39RIVc-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

    .home-div-title{
      text-align: center;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2rem;
      border-style: solid;
      border-width: 10px;
      border-image: linear-gradient($primary, $dark-accent) 1;
      background-color: rgba(0, 0, 0, 0.315);
      color: $off-white;  
    }
}

.home-div-left, .home-div-right{
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}


.background-icon{
  text-decoration: none;
  z-index: -1;
  font-size: 100px;
  color: $dark-accent;
  transition:all 1s ease;
  color: #333;

  .fab{
    color: $primary;
  }
}


.home-div-left:hover,  .home-div-right:hover {

  .background-icon{   
    opacity: 1;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);   
    }
    
  }

  .carousel-wrapper {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .rec-carousel-item:focus {
    outline: none;
  }

  @media only screen and (max-width: 1150px) {
    .background-icon {
      font-size: 50px;  
      }
    }

  


