.horizontal-display-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: lighten($primary, 20%);
    flex-wrap: wrap;
}

.horizontal-display-title{
    background-color: $cool-grey;
    padding: 1.5rem;
    border-radius: 5px;
    transition: all, 0.5s;

}

.horizontal-display-title:hover{
    background-color: $primary;
}