.navbar-main {
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    align-items: center;
    height: 100px;
    padding: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.164);
    /* flex-wrap: wrap; */
    .navbar-center, .navbar-end{
        display: flex;
        justify-content: space-around;
        gap: 30px;
        /* flex-grow: 1; */
    }
    .navbar-center{
        flex-grow: 1;
    }
    
}

