.bar {
    display: flex;
    justify-content: space-evenly;
    background-color: $primary;
    align-items: center;
    height: 100px;
}

.link{
    color: white;
    text-align: center;
    text-decoration: none;
    
}

.active{
    color: purple;
}