.reads-display-searchForm-block{
  border-bottom: 3px solid $primary;
}

.reads-display-searchForm{
    display:flex;
    align-items: center;
    background-color: $off-white;
    width: 100%;
    
    padding: 1.5rem;
    justify-content: center;

    .reads-display-searchInput{
     height: 2rem;

     width: 25vw;
    }

}

.reads-display-center-main{
    display: flex;



    
}


.reads-display-radio-main{
    background-color: $off-white;
    flex-wrap: wrap;
    width: 20vw;
    padding: 3rem;
    
    .reads-display-radio-title{
      font-size: 2em;
      padding: 0.5em;
      padding-bottom: 1em;
    }

    .container {
        display: block;
        position: relative;
        padding-left: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        cursor: pointer;
        font-size: 1.5em;
    
      }
      
      
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      
      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $cool-grey;
        border-radius: 50%;
        border-width: 10px;
        border-color: $primary;
      }
      
      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
        background-color: $primary;
      }
      
      /* When the radio button is checked, add a blue background */
      .container input:checked ~ .checkmark {
        background-color: $dark-accent;
      }
      
      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the indicator (dot/circle) when checked */
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the indicator (dot/circle) */
      .container .checkmark:after {
           top: 9px;
          left: 9px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: white;
      }
}

.reads-display-cards{
    background-color: $off-white;
    flex-wrap: wrap;
    margin-right: 0px;
    display: flex;
    justify-content: initial;
    width: 80vw;
    padding: 3rem;
    
    gap: 1rem;

    .card{
        height: 25em;
        width: 20em;
    }
}

@media only screen and (max-width: 1010px) {
  .reads-display-center-main{
        flex-direction: column;
        height: unset;
        
    } 

    .reads-display-radio-main, .reads-display-cards{
      display: flex;
      align-items: center;
      width: 100vw;

      
    }


    
  }


  