.socialPayment-div-wrapper{
    display: flex;
    flex-direction: column;
    
}

.socialPayment-div-main{
    display: flex;
    height: 80vh;
    

.socialPayment-div-left, .socialPayment-div-right{
    background-color: $off-white;
    width: 50vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

    
    .card {
        margin: 1.5rem;
        height: 20em;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.096);
        .btn{
            display: none;
        }
    }

    h2{
        margin: 1.5rem;
    }

    .btn{
        margin: 1rem;
    }
    
}

}


.socialPayment-div-right{
 span, p{
     font-size: 20px;
     display: block;
     margin: 2rem;
 }

 span{
     
     font-weight: bolder;
 }
}

.socialPayment-div-bottom{
    display: flex;
    /* flex-grow: 1; */
    background-color:$primary;
    /* bottom: 0px; */
    /* height: 20%; */
    text-align: center;
   justify-content: space-evenly;
   padding: 2em;
}

.socialPayment-div-right-buttons{
    margin-top: 5rem;
}

