.userProfile-div-wrapper{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1.5rem;

    span{
        border-style: none;
        border-radius: 5px;
        background-color: $primary;
        padding: 1rem;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);
    }


    .userProfile-div-head{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        font-size: large;
        margin: 1.5rem;

        padding-left: 15%;
    padding-right: 15%;
    }

    .userProfile-div-listWrap{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1.5rem;
    }

    .card{
        width: 200px;
        min-height: 400px;
    }
    &:hover {
        .card-info{
            height: 200px;
        }
    }

    
}



@media only screen and (max-width: 500px) {
    .userProfile-div-head {
    gap: 1rem;
}
}